body{
    background: #f2f2f2;
}

.contenedor {
    display: grid;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 20%;
    grid-template-columns: repeat(3, 1fr);
    background: gray;
}

.profile {
    background: red;
}

.interests {
    background: green;
    list-style: none;
}

.interests li {
    list-style: none;
} 

.learn {
    background: white;
}

.learn li{
    list-style: none;
}

.expectations {
    background: yellow;
}